{% extends '../layout.html' %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Artworks Index</h1>
      <a href="/artworks/new">Create a New Artwork</a>
    </div>
  </div>

  <br>
  {% for artwork in artworks %}
    <div class="row">
      <div class="col-xs-3">
        <img alt="{{artwork.name}}"
             class="artwork" 
             src="{{artwork.imageUrl}}"
             />
        <h4>{{ artwork.name }} by {{ artwork._artist.name }}</h4>
      </div>  
    </div>
  {% endfor %}
</div>

{% endblock %}